@import url(./style.css);

/* VISIBLE WINDOW */
body {
    background-image: url(../images/background.png);
    background-size: cover;
}
/* VISIBLE WINDOW */


/* KKM LOGO */
.logo-container {
    display: flex;
    gap: 22px;
    font-weight: 600;
    font-size: 70px;
    margin: auto;
}

.yellow {
    color:#DFE000;
}
/* KKM LOGO */